<div class="challenge-intro challenge-intro--solved">
    <h1 class="challenge-intro__title">
        <time class="challenge-intro__date" datetime="2023-02-13">2023-02-13</time>
        🍜 "If you don't live your life, then who will?" - Rihanna
    </h1>
    <div class="challenge-intro__solutions"><a
    href="https://github.com/pocketninja/cassidoo-challenges/blob/main/challenges/2023-02-13/solution.rs"
    hx-get="/challenges/2023-02-13/solution.rs.html"
    hx-target="#code-dialog .code-dialog__content"
    class="solution-link"
>
 Rust
 </a> <a
    href="https://github.com/pocketninja/cassidoo-challenges/blob/main/challenges/2023-02-13/solution.php"
    hx-get="/challenges/2023-02-13/solution.php.html"
    hx-target="#code-dialog .code-dialog__content"
    class="solution-link"
>
 PHP
 </a></div>
    <div class="challenge-intro__description"><p>Print the numbers 0 through 100 without using the characters 1, 2, 3, 4, 5, 6, 7, 8, or 9 in your code. Get creative!</p></div>
    <a href="https://buttondown.email/cassidoo/archive/if-you-dont-live-your-life-then-who-will-rihanna/" target="_blank" class="challenge-intro__link">Newsletter link</a>
</div>